body {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

li {
    display: list-item;
}

/* 背景画像を設定 */
.bg_picture {
    background-image: url(http://images.ctfassets.net/usf1vwtuqyxm/2BjlJKFYpC0ogkUNHANDFZ/d615d597f9d8d401e6d3838f0410e5d3/HPRM-final-banner-no-text.jpg?q=70);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
}

/* 背景に黒フィルターを適用 */
 .bg_black_filter {
    background: black;
    background-size: cover;
    height: 1000px;
    opacity: 0.3;
} 

/* ヘッダー上部の表示 */
.header_top {
    background-color: none;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 12px 0 10px;
    z-index: 9997;
    transition: background-color .3s ease-in;
}

@media screen and (max-width: 1025px) { 
    .header_top{
        display: none;
    }
}

/* ヘッダー下部の表示 */
.header_bottom {
    background-color: none;
    position: fixed;
    top: 81px;
    left: 0;
    width: 100%;
    z-index: 9997;
    transition: background-color .3s ease-in;
}

@media screen and (max-width: 1025px) { 
    .header_bottom{
        display: none;
    }
}


/* ヘッダー下部リスト表示、境界線表示 */
.header_bottom_lists {
    display: flex;
    border-top: 1px solid hsla(0, 0%, 100%, .15);
    position: relative;
    list-style: none;
    padding: 7px 0 2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* ヘッダー下部リストをの余白を設定、textとsvgを含むdivタグ */
.header_bottom_list_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 13px;
    margin-top: 0;
    border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer;
    
}
/* 1025px以下の画面ではヘッダー下部リストを非表示 */
@media screen and (max-width: 1025px) { 
    .header_bottom_list_box{
        display: none;
    }
}

/* ヘッダー下部リストのtext設定 */
.header_bottom_list_text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: Sofia Pro, bold;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
}

.header_bottom_list_underline {
    
    border-bottom: 1px solid rgb(190, 169, 255);
    
}

/* svgの表示（回転させる） */
.svg_rotate {
    transform: rotate( 90deg);
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 2px;
    
}

/* クリック後にマークが回転 */
.svg_rotate_after {
    transform: rotate( -90deg);
    transition: transform .2s ease-in-out;  
}

/* ホームロゴ全体 */
.Home_logo_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* ホームロゴ上のスペース */
.Home_logo_space {
    display: block;
    margin-top: 130px;
}


.Home_HP_FB_logo {
    margin: 20px 0 0;
}
/* ハリポタ、ファンタビのロゴ */
.Home_HP_FB_logo img {
    width: 536px;
    height: 120px;
}

.Home_logo_challenge_yourself {
    font-family: Bluu Next,serif;
    font-size: 3.33333em;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    max-width: 760px;
    padding: 0 30px;
    margin: 30px 0 10px;
    color: #f9f4f2;
}

.Home_logo_challenge_yourself_text {
    font-family: Sofia Pro,bold;
    font-size: 16px;
    line-height: 1.38;
    color: #f9f4f2;
    text-align: center;
    max-width: 520px;
    padding: 0 30px;
    margin-left: 120px;
}