body {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

/* li {
    display: list-item;
} */

/* 一枚目の背景画像を設定 */

.bg_picture1 {
    background-image: url(http://images.ctfassets.net/usf1vwtuqyxm/2BjlJKFYpC0ogkUNHANDFZ/d615d597f9d8d401e6d3838f0410e5d3/HPRM-final-banner-no-text.jpg?q=70);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
    z-index: 9997;
}

.header_bottom_list_svg_clicked_top {
    display: block;
    background: #10141b;
    position: fixed;
    list-style: none;
    padding: 7px 0 2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 260px;
    z-index: 9999;
    /* transform: translateY(200px); */
}

.header_bottom_list_svg_clicked_bottom {
    display: block;
    background: #10141b;
    opacity: 0.8;
    position: fixed;
    list-style: none;
    padding: 7px 0 2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 260px;
    z-index: 99999;
}

/* じわっと表示 */

.bg_picture1 {
    animation: fadeIn 5s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/* 一枚目の背景に黒フィルターを適用 */

.bg_black_filter1:not(.Home_logo_button) {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background-size: cover;
    height: 1000px;
    width: 100%;
}

/* ヘッダー上部の表示 */

.header_top {
    background-color: none;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 12px 0 10px;
    z-index: 9997;
    transition: background-color .3s ease-in;
    z-index: 9998;
}

@media screen and (max-width: 1025px) {
    .header_top {
        display: none;
    }
}

.wizarding_world_logo {
    display: block;
    height: 40px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.header_top_right_button {
    position: fixed;
    right: 200px;
}

@media screen and (max-width: 1025px) {
    .header_top_right_button {
        top: 35px;
        right: 30px;
        margin-right: 0px;
    }
}

.login_button {
    padding: 0px;
    border: none;
    z-index: 9999;
}

@media screen and (min-width: 1025px) {
    .login_button {
        position: fixed;
        margin-top: 40px;
        margin-right: 100px;
    }
}

.login_button_text {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    background: #6C63B5;
    color: #f9f4f2;
    border-radius: 3px;
    padding: 8px 20px 5px;
    transition: .3s ease-in-out;
}

.menu_button {
    display: block;
    position: fixed;
    left: 25px;
    top: 35px;
    width: 37px;
    height: 30px;
    border: none;
    background-color: unset;
    cursor: pointer;
    z-index: 9998;
}

@media screen and (min-width: 1025px) {
    .menu_button {
        display: none;
    }
}

.fa-times {
    display: block;
    position: fixed;
    left: 25px;
    top: 35px;
    cursor: pointer;
    color: #ffffff;
}

.open_hide {
display: none;
}

.close {
    z-index: 9999;
}

.overlay {
    position: fixed;
    background: #1b202b;
    height: 100%;
    width: 80%;
    z-index: 9997;
    opacity: 0;
    pointer-events: none;
}

.overlay_show {
    opacity: 1;
    pointer-events: auto;
}

.overlay li {
    padding: 3px;
}

.overlay a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    padding-left: 20px;
}

.overlay_line {
    margin-top: 80px;
    opacity: 0.3;
}

/* ヘッダー下部の表示 */

.header_bottom {
    background-color: none;
    position: fixed;
    top: 81px;
    left: 0;
    width: 100%;
    z-index: 9997;
    transition: background-color .3s ease-in;
    z-index: 9999;
}

@media screen and (max-width: 1025px) {
    .header_bottom {
        display: none;
    }
}

/* ヘッダー下部リスト表示、境界線表示 */

.header_bottom_lists {
    display: flex;
    border-top: 1px solid hsla(0, 0%, 100%, .15);
    position: relative;
    list-style: none;
    padding: 7px 0 2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* ヘッダー下部リストをの余白を設定、textとsvgを含むdivタグ */

.header_bottom_list_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 13px;
    margin-top: 0;
    border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer;
}

/* 1025px以下の画面ではヘッダー下部リストを非表示 */

@media screen and (max-width: 1025px) {
    .header_bottom_list_box:not(.header_bottom_list_text) {
        display: none;
    }
}

/* ヘッダー下部リストのtext設定 */

.header_bottom_list_text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

/* カーソルが乗ると紫の下線 */

.header_bottom_list_underline {
    border-bottom: 1px solid rgb(190, 169, 255);
}

/* svgの表示（回転させる） */

.svg_rotate {
    transform: rotate( 90deg);
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

/* クリック後にマークが回転 */

.svg_rotate_after {
    transform: rotate( -90deg);
    transition: transform .2s ease-in-out;
}

/* ホームロゴ全体 */

.Home_logo_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* ホームロゴ上のスペース */

.Home_logo_space {
    display: block;
    margin-top: 130px;
}

.Home_HP_FB_logo {
    margin: 20px 0 0;
}

/* ハリポタ、ファンタビのロゴ */

.Home_HP_FB_logo img {
    width: 536px;
    height: 120px;
}

/* challenge yourselfのロゴ */

.Home_logo_challenge_yourself {
    font-family: Bluu Next, serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    max-width: 760px;
    padding: 0 30px;
    margin: 30px 0 10px;
    color: #f9f4f2;
}

/* 1025px以下では小さく表示 */

@media screen and (max-width: 1025px) {
    .Home_logo_challenge_yourself {
        font-size: 40px;
    }
}

/* challenge yourselfの下の文章 */

.Home_logo_challenge_yourself_text {
    font-family: Sofia Pro, bold;
    font-size: 16px;
    line-height: 1.38;
    color: #f9f4f2;
    text-align: center;
    max-width: 520px;
    padding: 0 30px;
    margin-left: 140px;
}

/* 1025px以下では非表示 */

@media screen and (max-width: 1025px) {
    .Home_logo_challenge_yourself_text {
        display: none;
    }
}

/* play them all ボタン */

button {
    align-items: flex-start;
    cursor: pointer;
    font: 400 13.3333px Arial;
}

/* play them all ボタン中身 */

.Home_logo_button {
    width: 320px;
    color: #ffffff;
    background-color: #6C63B5;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 30px;
    padding: 18px 31px;
    margin-top: 30px;
    margin-left: 250px;
    border: 1px solid transparent;
}

@media screen and (max-width: 1025px) {
    .Home_logo_button {
        margin-left: 30%;
    }
}

/* 二枚目の背景 */

.bg_picture2 {
    background: linear-gradient(#656564, #12151C);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}

.bg_picture3 {
    background: linear-gradient(#12151C, #000000);
}

/* 写真の位置、大きさ調整 */

.pictures_li {
    position: relative;
}

.three_pictures {
    padding-left: 100px;
}

.three_pictures img {
    width: 360px;
    height: 200px;
    padding: 30px;
}

/* 写真上の小さい文news,feature */

.picture_short_text {
    position: absolute;
    top: 150px;
    left: 80px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.13;
    letter-spacing: normal;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* その下の長い文章 */

.picture_long_text {
    position: absolute;
    top: 200px;
    left: 80px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.31;
    color: #fff;
    font-family: Bluu Next, serif;
}

.pictures_ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

/* 写真のボタン */

.next_prev_buttons {
    padding-top: 70px;
    margin-left: 200px;
    display: flex;
}

.slider_button {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.next_prev_buttons_slider_dots {
    display: flex;
}

/* 今の写真の位置の点々 */

.slider_dots {
    display: flex;
    flex-direction: row;
    height: 42px;
    width: 85%;
    margin-top: 90px;
    margin-left: 50px;
}

/* 今の写真の位置 */

.slider_dots li div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #353643;
    margin-right: 10px;
}

/* 三枚の写真以外見えなくする */

.three_pictures_position {
    width: 1250px;
    height: 400px;
    padding: 0;
    overflow: hidden;
}

/* 以下の三つのコンテンツに共通するdivの全体情報 */

.common_information_wrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 100px;
}

/* 二つ目だけのラッパー */

.Patronus_wrapper {
    margin-top: 150px;
}

/* 三つのコンテンツに共通する写真の情報 */

.common_information_picture {
    position: relative;
    display: block;
    width: 100%;
    order: 2;
    text-align: right;
}

/* 二枚目の写真の情報 */

.Patronus_picture {
    text-align: left;
}

/* 三枚目の写真の情報 */

.Hedwig_picture {
    text-align: right;
}

/* 三つのコンテンツに共通する写真の大きさ */

.common_information_picture img {
    width: 1008px;
    height: 420px;
}

/* 二枚目の写真の大きさ */

.Patronus_picture img {
    width: 905px;
    height: 100%;
}

/* 三枚目の写真の大きさ */

.Hedwig_picture img {
    height: 567px;
}

/* 三つのコンテンツに共通する写真のフィルター情報 */

.common_information_picture_filter {
    position: absolute;
    width: 33%;
    height: 100%;
    left: 430px;
    bottom: 0;
    background-image: linear-gradient( 90deg, rgba(16, 20, 27, .8), rgba(16, 20, 27, 0) 98%);
}

/* 二枚目の写真のフィルター */

.Patronus_picture_filter {
    left: 0;
}

/* 三つのコンテンツに共通する文章の囲い */

.common_information_text_container {
    position: absolute;
    padding-left: -10%;
    order: 1;
    width: 40%;
    align-self: center;
}

.Patronus_text_container {
    margin-left: 750px;
    padding-left: 0;
}

.common_information_short_text {
    color: #ffffff;
    font-size: 60px;
    line-height: 65px;
    margin-top: 20px;
    text-align: right;
    font-family: Bluu Next, serif;
    font-weight: 700;
}

.Patronus_short_text {
    text-align: left;
}

.common_information_long_text {
    color: #ffffff;
    font-size: .88889em;
    line-height: 24px;
    text-align: right;
    margin-top: 1.11111em;
    font-family: Arial, Helvetica, sans-serif
}

.Patronus_long_text {
    text-align: left;
}

.Patronus_tiny_text {
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    font-family: Mason Sans OT, bold;
    font-weight: 700;
}

.common_information_button_wrapper {
    margin-top: 20px;
    text-align: right;
}

.Patronus_button_wrapper {
    text-align: left;
}

.common_information_button {
    color: #fff;
    background-color: #6b63b5;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1.5px;
    border-radius: 30px;
    border: 1px solid transparent;
    padding: 20px 50px;
}

.common_information_button_text {
    position: relative;
    bottom: -2px;
}

.latest_news_wrapper {
    margin-top: 100px;
}

.latest_news_short_text {
    font-family: Bluu Next, serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.35;
    color: #fff;
    margin-left: 225px;
    margin-bottom: 50px;
}

/* 三つの写真を横並び */

.latest_news_container {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

/* 画像の上に文字を置きたい */

.latest_news_pictures {
    position: relative;
}

/* 三つの写真のスタイル */

.latest_news_pictures img {
    width: 360px;
    height: 200px;
    margin-right: 50px;
}

.latest_news_long_text_container {
    margin-top: 10px;
    width: 340px;
    height: 320px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #696b78;
    position: absolute;
    top: 0px;
    left: 8px;
}

.latest_news_long_text {
    font-size: 20px;
    line-height: 30px;
    width: 80%;
    object-fit: contain;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.latest_news_after_border {
    border: 2px;
    height: 1px;
    width: 800px;
    background-color: #353643;
    color: #353643;
    margin-top: 180px;
    margin-left: 300px;
}

.latest_news_after_text {
    color: #f9f4f2;
    font-size: 12px;
    font-weight: 600;
    margin-left: 30px;
}

.latest_news_after_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.view_all_news_underline {
    text-decoration: underline;
    color: #f9f4f2;
}

/* フッターの背景 */

.footer {
    text-align: center;
    line-height: 1;
    font-size: 10px;
    position: relative;
    background-color: #000000;
    font-family: Sofia Pro, serif;
    font-weight: 400;
    width: inherit;
    height: 500px;
    padding: 100px;
}

/* フッターの枠線 */

.footer_inner_border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #696b78;
    padding: 50px 0px 50px 60px;
    width: 100%;
}

/* フッター枠線内の中身 */

.footer_inner_block {
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* フッター枠線内の項目の位置 */

.footer_inner_text {
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* フッター枠線内の項目の並べ方 */

.footer_inner_lists {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    height: 105px;
    width: 80%;
    align-items: flex-start;
}

/* フッター枠線内の項目 */

.footer_inner_list {
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
}

/* フッター枠線内の項目のテキスト */

.footer_inner_list a {
    color: #ffffff;
    line-height: 20px;
    font-size: 14px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* フッター枠線内の線 */

.footer_line {
    border: 2px;
    height: 1px;
    width: 100%;
    background-color: #353643;
}

/* フッター枠線内の下部 */

.footer_low_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 0;
    margin-top: 20px;
}

/* フッター枠線内の下部のテキスト群 */

.footer_low_texts {
    text-align: left;
    line-height: 1.33;
    font-family: Sofia Pro, bold;
    color: #9fa1ad;
}

/* フッター枠線内の下部のテキスト */

.footer_low_texts p {
    font-size: 14px;
    line-height: 20px;
    max-width: 702px;
    width: 100%;
    margin: 16px 0;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: .25px;
}